@import "../../common.scss";

.search_container {
  max-width: 1100px;
  margin: auto;
  color: $black;
}

.search_contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  border-radius: $border-radius-1;
  border: 3px solid $green1;
  background-color: $white;
  justify-content: space-between;
  padding-left: 20px;
}

.searchType {
  font-size: 18px;
  width: 180px;
  padding-left: 20px;
  font-weight: $font-weight-2;
  display: inline-block;
  position: relative;
  text-align: left;
  cursor: pointer;

  .bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .searchTypeDropdown {
    display: none;
    position: absolute;
    background-color: $white;
    width: 70%;
    z-index: 1;
    border: 1px solid $lightgray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .option {
      padding: 10px 20px;
      cursor: pointer;

      &:hover {
        background-color: $lightgray;
      }
    }
  }

  &:hover .searchTypeDropdown {
    display: block;
  }
}

.searchKeyword {
  width: calc(60% + 230px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    font-size: 18px;
    background-color: $white;
    outline: none;
  }

  .cancel_icon {
    padding: 10px;
    font-size: $h3;
    font-weight: $font-weight-2;
    color: $lightgray;
    cursor: pointer;
  }
}

.searchListbox {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: $white;
  border: 1px solid $lightgray;
  border-top: none;
  z-index: 1;
  border-radius: 0.25rem;
  max-height: 284px;
  // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);

  .suggention-item-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .suggention-item {
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        background-color: $lightgray;
      }

      span {
        display: block;
      }
    }
  }
}

.search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 55px;
  background-color: $green2;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;

  .src_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    position: relative;
    font-size: $h2;
    background-color: $green2;
    border: none;
    color: $white;
    .FiSearch {
      color: $white;
    }
  }
}

.buildingIcon {
  color: $green3;
  padding-left: 5px;
  width: 30px;
}

.searchListbox {
  text-align: center;
  padding: 24px;
}

.trainerName {
  justify-self: flex-end;
}
.trainerWhistle{
  color:$green2;
}