.markerWrap {
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  border: 2px solid #00491e;
  padding: 6px 10px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  max-width: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  color: rgb(61, 69, 77);
}

.markerPin {
  box-sizing: border-box;
  content: "";
  position: absolute;
  bottom: -11px;
  left: calc(50% - 8px);
  width: 16px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 11px solid #00491e;
}
.markerPin::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  bottom: 1.5px;
  left: -8px;
  width: 16px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 11.5px solid #fff;
}
.markerPin::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  bottom: -3px;
  z-index: -1;
  left: calc(50% - 5px);
  border-radius: 50%;
  background: gray;
  filter: blur(2px);
}
