.privacy__policy__link {
  padding: 20px 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.privacy__policy__link:hover {
  background-color: rgba(128, 128, 128, 0.15);
  cursor: pointer;
}
