@import "../../../../../common.scss";

.confirmation_page {
  min-height: 570px;
  padding: 30px;
  background-color: #f7f9fa;
  color: $black;
}

.confirmation_page_container {
  max-width: 1000px;
  margin: auto;
}

.confirmation_title {
  padding: 20px 0;
}

.reservation_check_wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-top: 1px solid $lightgray;
  border-bottom: 1px solid $lightgray;
}

.reservation_subCategory_check2 {
  color: red;
}

.reservation_date_check,
.reservation_member_check {
  display: flex;
  gap: 30px;
}

.agreement_personalInfo {
  p {
    display: flex; // Flexbox를 활용
    align-items: center; // 수직 정렬
    cursor: pointer;
    margin-bottom: 5px; // 간격 조정
    font-weight: bold; // 텍스트 강조

    svg {
      margin-left: 10px; // 아이콘과 텍스트 사이의 간격
    }
  }

  ul {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    li {
      padding-bottom: 10px;
    }
  }

  .show {
    max-height: 1000px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}

.reservation_agreement_check {
  p {
    padding: 10px 0;
  }
}

//버튼 scss
.confirmation_btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px 0;

  .gray,
  .green2 {
    padding: 10px 20px;
    font-size: $h3;
    color: white;
    border: none;
    border-radius: $border-radius-4;
    font-weight: $font-weight-2;
  }

  .gray {
    background-color: $gray;
  }

  .green2 {
    background-color: $green2;
  }
}
