@import "../../../../common.scss";

.left_edit_container {
  padding-bottom: 50px;
  textarea {
    width: 96%;
    border: 1px solid $lightgray;
    border-radius: $border-radius-4;
    outline: none;
    padding: 10px;
    resize: none;
    font-size: 15px;
  }
}
.edit_title_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  h2 {
    color: $black;
  }
}

.edit_btn_wrap {
  align-content: center;
  button {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 10px;
    background-color: $white;
    color: $green2;
    border: 2px solid $green2;
    border-radius: $border-radius-1;
    font-size: 16px;
    font-weight: $font-weight-2;
  }
}

.written_content {
  width: 100%;
  padding: 10px;
  background-color: $white;
  border: 2px solid $green1;
  border-radius: $border-radius-3;
}

.edit_certification_lists {
  display: flex;
  align-items: center;
  gap: 20px;
}

.trainer__program__titles {
  // margin: 5px;
  // padding: 15px;
  // background-color: $green2;
  // color: $white;
  // display: inline-block;
  // border: 1px solid $green2;
  border-radius: 8px;
  font-size: $h3;
}

.trainer__program__title {
  font-size: 16px;
  font-weight: $font-weight-1;
  color: $green2;
  padding: 10px;
}

.trainer__program__specialties {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
}

.trainer__program__specialty {
  font-size: 13px;
  font-weight: $font-weight-1;
  background-color: $green2;
  color: $white;
  padding: 3px;
  border-radius: 8px;
}

.trainer__program__hr {
  margin: 7px 10px;
}

.trainer__program__imgs {
  display: flex;
  gap: 5px;
  padding: 0 10px;
}

.trainer__program__imgs__box {
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.trainer__program__img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.trainer__program__exp {
  font-size: 13px;
  white-space: pre-wrap;
  padding: 0 10px 10px 10px;
}

.trainer__program__hr2 {
  height: 2px;
  width: 100%;
  background-color: $green1;
  border: none;
}
