@import "../../../../../../common.scss";

.IntroEdit_container {
  font-size: 16px;
  color: $black;
  margin-bottom: 50px;
}

.IntroEdit_text {
  padding: 10px;
  height: 120px;
  line-height: 40px;
}
