@import "../../common.scss";

footer {
  width: 100%;
  background-color: $green3;
}

footer > div {
  width: 1200px;
  height: 100%;
  padding: 50px 30px;
}

.footer_container {
  font-size: 14px;
  color: $black;
}

.cs_section .top {
  font-weight: 700;
  font-size: 20px;
}
.cs_section .bottom {
  color: $darkgray;
}

.cs_section > p {
  padding-bottom: 10px;
}

.menu_list {
  display: flex;
  padding: 5px 0 50px 0;
  gap: 25px;
  font-weight: $font-weight-2;
}

.menu_list > span {
  border: 1px solid $green1;
}

.documentation_section {
  padding: 5px 0 30px 0;
}

.documentation_section > a {
  padding-right: 50px;
}
.info_section .top,
.info_section .bottom {
  padding: 5px 0;
}

.info_section .top > span,
.info_section .bottom > span {
  padding-right: 30px;
}
