@import "../../common.scss";

.listWrap {
  margin-left: 10px;
}

.searchTab {
  border: 2px solid rgba(162, 238, 148, 1);
  box-shadow: 0px 3px 8px 3px rgba(0, 74, 31, 0.15);
  border-radius: 24px;
  width: 491px;
  height: 164px;
  margin-bottom: 24px;
}

.searchTab-Title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  margin: 24px;
  height: 30px;
}
.searchTab-Title > div {
  display: flex;
  gap: 10px;
}
.titleSvg {
  align-self: flex-end;
}
.searchInput {
  position: relative;
}
#searchBar {
  box-sizing: border-box;
  width: 450px;
  height: 50px;
  border-radius: 20px;
  border: 3px solid rgba(0, 0, 0, 0.06);
  margin: 0px 19px 0px 23px;
  padding: 5px 0px 0px 20px;
}
#searchBar::placeholder {
  font-size: 16px;
  font-weight: 500;
}

.btn_search {
  position: absolute;
  right: 30px;
  top: 15px;
  cursor: pointer;
}
.suggestion-item {
  border: none;
  color: $black;
  padding: 14px 24px;
  height: 100%;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  position: relative;
  list-style: none;
  cursor: pointer;
}

.suggestion-item-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
  width: 100%;
  overflow: auto;
}

.addressSpan {
  color: $gray;
  font-size: 12px;
  padding: 4px 8px;
  background-color: rgb(237, 241, 245);
  border-radius: 12px;
  cursor: pointer;
}

.flexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: row;
}

.buildingIcon {
  color: $green1;
  font-size: 24px;
  margin-right: 10px;
}
.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: $green2;
  cursor: pointer;
}

.reset-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: $green2;
  cursor: pointer;
}

.btn_search {
  margin-left: 10px;
}

.listContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  margin-top: 5px;
  max-height: 200px;
  overflow-y: auto;
}
