@import "../../../common.scss";

.center_search_modal_background{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    

    .center_search_modal{
        width: 400px;
        height: 280px;
        border-radius: $border-radius-4;
        background-color: white;
        padding: 10px 0px 10px 10px;
        overflow-y: scroll;
        overflow-x: hidden;

        .center_info_container{
            width: 92%;
            height: 45px;
            display: flex;
            justify-content: space-between;
            padding: 0 8px;
            border-radius: 2px;
            font-size: 14px;
            cursor: pointer;

            &:hover{
                background-color: $lightgray;
            }

            .center_info_title_container, .center_info_location_container{
                display: flex;
                align-items: center;
            }
            
            .center_info_location{
                height: 25px;
                background-color: $green1;
                display: flex;
                align-items: center;
                border-radius: 12px;
                font-size: 11px;
                padding: 0 8px;
            }
        }
    }
    .close_modal{
        position: absolute;
        right: 15px;
        top: 15px;
        background-color: white;
        border-radius: 20px;
        cursor: pointer;
    }
}