@import "../../common.scss";

.btn_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.modal_close_btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: $h3;
}

.modal_close_btn_box {
  text-align: right;
}

.modal_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal_content {
  background-color: $white;
  border-radius: $border-radius-3;
  width: 400px;
  height: 350px;
  padding: 15px;
  box-sizing: content-box;
}
