.inquiryList {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.inquiryItem {
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 80px;
}
.inquiryItemClick{
  cursor: pointer;
}
.AdmininquiryDetails {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1.4fr 2.6fr 1fr 1fr 0.1fr;
  gap: 20px;
}

.inquiryType, .inquiryContents, .inquiryPassword, .inquiryDate {
  font-size: 16px;
  color: #333;
}

.inquiryType {
  font-weight: bold;
}

.inquiryDate {
  text-align: right;
  font-style: italic;
  color: #666;
}
.pageNumbers {
  display: flex;
  justify-content: center;
  padding: 20px;
  }
  
.pageNumbers button {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #efefef;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  }
  
.pageNumbers button:hover {
  background-color: #ddd;
  }
.Inquiry_label {
  font-size: 14px;
  color: #666;
  font-weight: bold;
  margin-bottom: 5px;
  }
  .adminInquiryClose{
    cursor: pointer;
    font-size: 20px;
  }

 