.my-progress-bar {
  --success: LimeGreen;
  --neutral: LightSteelBlue;
  --alert: Crimson;
  --symbol-size: 30px;
  --symbol-border-width: 3px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: fit-content;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.my-progress-bar--step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.my-progress-bar--step-text {
  container-name: progress-step;
  font-size: clamp(0.625rem, 2vw, 1rem);
}

@container progress-step (min-width: 700px) {
  .my-progress-bar--step-text {
    font-size: 2cqw;
  }
}

.my-progress-bar--step:first-child::before {
  width: 50%;
  left: 50%;
}

.my-progress-bar--step:last-child::before {
  width: 50%;
  right: 50%;
}

.my-progress-bar--step:before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--neutral);
  z-index: -1;
  top: calc(var(--symbol-size) / 2 + var(--symbol-border-width));
  right: 0;
  left: 0;
  margin-inline: auto;
}

.my-progress-bar--step-text {
  position: relative;
  margin-bottom: calc(var(--symbol-size) - 15%);
  margin-inline: auto;
  display: block;
  top: 10px;
}

.my-progress-bar--step--symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--symbol-size);
  width: var(--symbol-size);
  background: var(--neutral);
  border: var(--symbol-border-width) solid var(--neutral);
  border-radius: 50%;
}

[data-my-progress-bar-step="complete"] {
  &.my-progress-bar--step:before {
    background: var(--success);
  }

  .my-progress-bar--step--symbol {
    background: var(--success);
    border-color: var(--success);
    color: white;
  }
}

[data-my-progress-bar-step="current"] {
  &.my-progress-bar--step:before {
    background: var(--success);
  }

  .my-progress-bar--step--symbol {
    background: white;
    border-color: var(--success);
    color: var(--success);
  }
}
