@import "../../common.scss";

.searchTab {
  .searchTab-Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    div {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .titleSvg {
      cursor: pointer;
    }
  }

  .searchInput {
    position: relative;

    .inputContainer {
      display: flex;
      align-items: center;
      position: relative;

      input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        outline: none;
      }

      .cancel_icon {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        cursor: pointer;
        color: $lightgray;
        font-size: 20px;
      }
    }

    .listContainer {
      position: absolute;
      width: 100%;
      max-height: 200px;
      overflow-y: auto;
      background-color: $white;
      border: 1px solid $lightgray;
      border-top: none;
      border-radius: 0 0 4px 4px;
      // box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
      z-index: 10;

      .suggention-item-list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        .suggestion-item {
          padding: 10px;
          cursor: pointer;

          &:hover {
            background-color: $lightgray;
          }

          .flexBox {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
              margin: 0;
              display: flex;
              align-items: center;
            }

            .trainerName {
              display: flex;
              align-items: center;
              gap: 5px;
            }

            .addressSpan {
              font-size: 14px;
              color: $gray;
            }
          }
        }
      }

      .noSearch {
        text-align: center;
        padding: 20px;
        color: $gray;
      }
    }
  }
}

.buildingIcon {
  color: $green3;
  margin-right: 5px;
}

.trainerWhistle {
  color: $green2;
}
