@import "../../common.scss";

.TrainerListItem {
  padding: 12px;
  margin-bottom: 17px;
  width: 491px;
  height: 198px;
  position: relative;
  background-color: #fff;
  border-radius: 24px;
  overflow: hidden;
  border: 2px solid #00491e;
}

.morae {
  font-family: Inter;
  left: 178px;
  top: 25px;
  position: absolute;
  color: black;
  font-size: 21px;
  font-weight: 900;
  color: $green2;
  word-wrap: break-word;
}

.moraeTitle {
  width: 283px;
  height: 10px;
  left: 178px;
  top: 60px;
  position: absolute;
}

.moraeTitleText {
  font-size: 18px;
  font-weight: 600;
  color: $green2;
}

.moraeTitleTextPT {
  font-size: 15px;
  font-family: Inter;
  font-weight: 600;
  color: rgb(108, 118, 128);
}
.moraePrice {
  font-weight: 800;
  font-size: 15px;
}

.moraeLocation {
  font-weight: 400;
  font-family: Inter;
  height: 19px;
  left: 178px;
  top: 140px;
  position: absolute;
  color: rgb(108, 118, 128);
  font-size: 14px;
  margin: 5px;
}
.moraeReview {
  height: 23px;
  left: 380px;
  top: 24px;
  color: rgb(108, 118, 128);
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
}

.trainerImg {
  width: 160px;
  height: 199px;
  left: 0;
  top: 0;
  position: absolute;
}

.mappin {
  color: $green2;
}
.streetIcon {
  color: $green2;
}

.item_trainer_short_intro {
  color: $black;
  font-size: 14px;
  position: absolute;
  top: 5px;
  left: 6px;
}

.moraeTotalPrice {
  position: absolute;
  top: 50px;
  left: 6px;
}
.center_name {
  font-size: 16px;
  font-weight: 600;
  color: $green2;
}
.wonIcon {
  color: rgb(246, 120, 120);
}
.avgReview {
}
.chatIcon {
  color: $green2;
}
