@import "../../../../common.scss";

.contentWrap {
  padding: 24px;
  background-color: #fff;
  border: 1px solid rgb(228, 234, 240);
  border-radius: 12px;
  margin-bottom: 24px;
  font-size: 16px;
  color: rgb(61, 69, 77);
}
.flexBoxStart {
  display: flex;
  justify-content: start;
  align-items: center;
}
.contact {
  text-decoration: underline;
  color: $green2;
  cursor: pointer;
  white-space: nowrap;
}

.addressOnLocation {
}
