@import "../../../../common.scss";

.trainerdetail__lesson_title {
  color: $darkgray;
  font-size: $h3;
  padding-bottom: 12px;
  text-overflow: ellipsis;
  line-height: 40px;
  font-weight: bold;
  border-bottom: 1px solid $lightgray;
}
.trainerdetail__lesson_li {
  border-bottom: 1px solid $lightgray;
  display: flex;
  text-align: center;
  // justify-content: space-between;
  align-items: center;
  height: 72px;
}

.trainerdetail__lesson_text {
  color: $darkgray;
}

.trainerdetail__priceCount {
  flex-basis: 70px;
  min-width: 40px;
}

.trainerdetail__pricePer {
  flex-basis: 200px;
  min-width: 110px;
}

.trainerdetail__priceTotal {
  flex-basis: 150px;
  min-width: 90px;
}
