@import "../../../../common.scss";

.title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trainer_check_btn {
  background-color: $green1;
  color: $green2;
  padding: 5px 10px;
  border-radius: $border-radius-3;
}

.check_btn_wrap {
  font-size: 14px;
}

.check_btn_wrap > a {
  font-weight: 600;
}

.carrer_wrap {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.carrer_wrap_img {
  font-size: $h1;
}

.carrer_wrap_text {
  padding: 0 0 5px 10px;
  font-weight: $font-weight-1;
}

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 103;
}

.modal_content {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.arrow_button {
  background: none;
  border: none;
  color: white;
  font-size: 60px;
  cursor: pointer;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow_button.left {
  left: 10px;
}

.arrow_button.right {
  right: 10px;
}

.certification_img {
  width: 100%;
  max-height: 700px;
  display: block;
}

.image_counter {
  position: absolute;
  bottom: 8%;
  text-align: center;
  font-size: $h3;
  color: $white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 10px;
  border-radius: $border-radius-3;
}

// .certification_img_container {
//   position: relative;
//   display: inline-block;
//   max-height: 700px;
// }

// .watermark-overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;
//   overflow: hidden; /* 오버플로우된 텍스트 숨기기 */
// }

// .watermark-row {
//   position: absolute;
//   white-space: nowrap;
// }

// .watermark-text {
//   color: rgba(0, 0, 0, 0.2);
//   transform: rotate(-45deg);
//   font-size: 48px;
//   font-weight: 900;
//   padding: 30px; /* 간격 조정 */
//   user-select: none;
//   display: inline-block;
// }
