@import "../../../../common.scss";

.ShortIntroEdit_textView {
  
}
.ShortIntroEdit_container {
  font-size: 16px;
  color: $black;
  margin-bottom: 50px;
}

.ShortIntroEdit_text {
  padding: 10px;
  height: 40px;
  line-height: 40px;
}
