@import "../../../common.scss";

.detail_menu {
  position: sticky;
  z-index: 102;
  top: 0px;
  background-color: $white;
  border-bottom: 1px solid $lightgray;
  width: 100vw;
}

.detail_menu_top {
  line-height: 56px;
  height: 57px;
  border-bottom: 1px solid $lightgray;
}

.detail_menu_top_flex {
  display: flex;
  justify-content: space-evenly;
  color: $black;

  .top_tab {
    position: relative;
    cursor: pointer;
    flex: 1;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 3px;
      background-color: transparent;
      margin: 0 auto;
      width: 150px;
      transition: all 0.3s ease;
    }
  }
}

.top_tab.on::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: $green2;
  margin: 0 auto;
  width: 150px;
}

.detail_menu_bottom {
  max-width: 1150px;
  font-size: 16px;
  margin: auto;
}

.detail_menu_bottom_flex {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0px 12px;
}

.bottom_tab {
  display: inline-block;
  font-size: 14px;
  margin: 0px 8px;
  cursor: pointer;
  color: $green2;
  background-color: $white;
  border: 3px solid $green1;
  border-radius: 16px;
  padding: 4px 12px;
}

.bottom_tab.active {
  color: $black;
  background-color: $green1;
}
