//색상
$green1: #a2ee94;
$green2: #00471e;
$green3: rgb(200, 250, 200); //footer - backgroundcolor
$black: rgb(60, 60, 60); // 기본 글씨 색상
$white: #ffffff;
$red: #ff0000;
$lightgray: rgb(218, 224, 230); //border-line
$gray: rgb(109, 109, 109);
$darkgray: rgb(61, 69, 77); //$
$star: rgb(255, 174, 0); //별아이콘 색상
$mypage_btn1: #3d7253;
$background: #f7f9fa;

//글씨 크기 및 굵기
$h1: 25px;
$h2: 22px;
$h3: 20px;
//기본 글씨크기 : 16px

//글씨 굵기 h1는 800, 이외에는 700
$font-weight-1: 800;
$font-weight-2: 700;

//border 반경
$border-radius-1: 25px;
$border-radius-2: 20px;
$border-radius-3: 15px;
$border-radius-4: 6px;
