//색상
$green1: #a2ee94;
$green2: #00491e;
$green3: rgb(200, 250, 200); //footer - backgroundcolor
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$gray: #6d6d6d;

//글씨 크기 및 굵기
$h1: 25px;
$h2: 22px;
$h3: 20px;
//기본 글씨크기 : 16px

//글씨 굵기 h1는 800, 이외에는 700
$font-weight-1: 800;
$font-weight-2: 700;

//border 반경
$border-radius-1: 25px;
$border-radius-2: 20px;
$border-radius-3: 15px;
$border-radius-4: 6px;
