@import "../../../../common.scss";

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar {
  width: 500px;
  max-width: 100%;
  background-color: $white;
  border: 1px solid $lightgray;
  border-radius: 8px;
  padding: 10px;

  .react-calendar__month-view__weekdays {
    text-align: center;
  }

  .react-calendar__month-view__weekdays abbr {
    text-decoration: none;
  }

  .react-calendar__month-view__weekdays__weekday--weekend:nth-child(7) abbr {
    color: red;
  }

  .react-calendar__navigation {
    display: flex;
    justify-content: center;
    button {
      min-width: 35px;
      background: none;
      border: none;
      font-size: $h3;

      &:hover {
        background-color: $white;
      }
    }

    .react-calendar__navigation__label {
      font-weight: $font-weight-2;
      color: $black;
    }
  }

  .react-calendar__month-view__days__day {
    width: 50px;
    height: 50px;
    border-radius: $border-radius-4;
  }
}

.react-calendar__tile:disabled,
.react-calendar__tile:disabled:hover {
  background-color: $white;
}

.react-calendar__tile--active {
  background: $green1;
  color: white;
}

.react-calendar__tile--now {
  background: white;
  font-weight: 800;
}

.booking_title {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;

  svg {
    font-size: 23px;
  }
}

.booking_page .time-button {
  font-size: 12px;
  padding: 10px;
  margin: 3px;
  border: 2px solid $lightgray;

  border-radius: $border-radius-3;
  background-color: $white;
  color: $black;
  cursor: pointer;
}

.booking_page .time-button.selected {
  background-color: $green2;
  color: $white;
  font-weight: $font-weight-2;
  border: 2px solid $green2;
}

.booking_page .time-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}