@import "../../../../common.scss";

.purpose_title {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;

  svg {
    font-size: 25px;
  }
}
.purpose_mainCategories_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.purpose_mainCategories_btn button {
  background-color: white;
  color: $green2;
  padding: 10px;
  border-radius: $border-radius-3;
  border: 2px solid $green1;
  font-weight: $font-weight-2;
  font-size: 16px;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $green2;
    border: 2px solid $green2;
    color: $white;
  }
}

.subCategories_wrap {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.purpose_subCategory_text {
  border-bottom: 1px solid $lightgray;
  padding: 20px 0;
  font-size: 14px;
}
